html {
  scrollbar-color: #1ae9ff #00314f;
}

body {
  background-color: #00314f;
  overflow-x: hidden;
}

html::-webkit-scrollbar-thumb {
  background-color: #1ae9ff;
}

html::-webkit-scrollbar {
  background-color: #00314f;
  width: 0.5rem;
}

.hero-image {
  border-radius: 100%;
}
